	<div class="wrapper">
		<div class="submit-form">
			<h1>Submit a Photo</h1>
			<form ng-submit="submit.doSubmit()">
				<input type="text" placeholder="First Name" ng-model="submit.picSubmitData.firstName">
				<input type="text" placeholder="Last Name" ng-model="submit.picSubmitData.lastName">
				<input type="email" placeholder="Email" ng-model="submit.picSubmitData.email" ng-required>
				<input type="file" ng-model="submit.picSubmitData.image" ng-required> <br>
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>