@import url(https://fonts.googleapis.com/css?family=Raleway|Open+Sans);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #efefef; }

header {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
  box-sizing: border-box; }
  header .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    letter-spacing: .3em;
    margin-top: 22px;
    color: #818D97; }
    @media  (min-width: 640px) {
      header .logo {
        width: 23.7288135593%;
        float: left;
        margin-right: 1.6949152542%; } }
    @media  (min-width: 0) and (max-width: 639px) {
      header .logo {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        text-align: center; } }
  header nav {
    font-family: 'Open Sans', sans-serif;
    color: #818D97; }
    @media  (min-width: 830px) {
      header nav {
        width: 49.1525423729%;
        float: left;
        margin-right: 1.6949152542%;
        float: right;
        margin-right: 0;
        margin-top: 30px; } }
    @media  (min-width: 640px) and (max-width: 829px) {
      header nav {
        width: 74.5762711864%;
        float: left;
        margin-right: 1.6949152542%;
        float: right;
        margin-right: 0;
        margin-top: 30px; } }
    @media  (min-width: 0px) and (max-width: 639px) {
      header nav {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px; } }
    header nav ul {
      float: right; }
      @media  (min-width: 0) and (max-width: 640px) {
        header nav ul {
          display: block;
          width: 100%;
          text-align: center; } }
    header nav li {
      display: inline-block;
      text-align: right;
      margin-right: 30px; }
      header nav li:nth-child(5n) {
        margin-right: 0; }

.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.pieces .piece {
  margin-bottom: 15px;
  box-sizing: border-box;
  height: 100px;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 2px 3px #ccc; }
  @media  (min-width: 1140px) {
    .pieces .piece {
      width: 23.7288135593%;
      float: left;
      margin-right: 1.6949152542%; }
      .pieces .piece:nth-child(4n) {
        float: right;
        margin-right: 0; } }
  @media  (min-width: 760px) and (max-width: 1139px) {
    .pieces .piece {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .pieces .piece:nth-child(3n) {
        float: right;
        margin-right: 0; } }
  @media  (min-width: 480px) and (max-width: 759px) {
    .pieces .piece {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; }
      .pieces .piece:nth-child(2n) {
        float: right;
        margin-right: 0; } }
  @media  (min-width: 0px) and (max-width: 480px) {
    .pieces .piece {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid #efefef; } }
