$lighter		: #D2E4F1;
$light 			: #8FACC0;
$dark			: #818D97;
$darker 		: #484D51;
$white			: #FFF;


//----------------------------Spacing

$mic			:3px;
$tny			:8px;
$sm				:15px;
$reg			:30px;
$med			:45px;
$lg 			:60px;
$xl				:90px;
$xxl			:120px;