@import "../lib/bourbon/app/assets/stylesheets/bourbon";
@import "../lib/breakpoint-sass/stylesheets/breakpoint";
@import "../lib/susy/sass/susy";

@import "reset";
@import "variables";

$susy: (
  columns: 12,
  gutter-position:after
);

body{
	background-color:$lighter-grey;
}

header{
	height:$lg;
	width:100%;
	padding:0 $sm;
	margin-bottom:$sm;
	box-sizing:border-box;

	.logo{
		font-family: $headline;
		font-size:2em;
		letter-spacing:.3em;
		margin-top: $reg - $tny;
		color:$dark;
		@include span(3);
	}

	nav{
		@include span(6);
		@include last();
		font-family:$body;
		color:$dark;
		margin-top:$reg;

		ul{
			float:right;
		}

		li{
			display:inline-block;
			text-align:right;
			margin-right:$reg;

			&:nth-child(5n){
				margin-right:0;
			}
		}
	}
}

.wrapper{
	@include container(1140px);
}


.pieces{
	
	.piece{
		margin-bottom:$sm;
		box-sizing:border-box;
		height:100px;
		background-color:$white;
		border-radius:$mic;
		box-shadow: 0px 2px $mic $light-grey;

		@include breakpoint(1140px){
			@include span(3);

			&:nth-child(4n){
				@include last();
			}
		}

		@include breakpoint(760px 1139px){
			@include span(4);

			&:nth-child(3n){
				@include last();
			}
		}

		@include breakpoint(480px 759px){
			@include span(6);

			&:nth-child(2n){
				@include last();
			}
		}

		@include breakpoint(0px 480px){
			@include span(12);

			border-bottom:1px solid $lighter-grey;
		}
	}


}
