@import url(https://fonts.googleapis.com/css?family=Raleway|Open+Sans);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ng-enter {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out 0.2s;
  -moz-transition: 0.2s ease-in-out 0.2s;
  transition: 0.2s ease-in-out 0.2s; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 1;
  -webkit-transition: 0.2s opacity ease-in-out;
  -moz-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out; }

.ng-leave-active {
  opacity: 0; }

*::selection {
  background-color: #4AC6B7;
  color: #FFF; }

body {
  background-color: #efefef;
  font-family: 'Open Sans', sans-serif;
  color: #818D97; }

a {
  text-decoration: none;
  color: inherit; }

header {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 15px;
  box-sizing: border-box; }
  header .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    letter-spacing: .3em;
    margin-top: 22px;
    color: #818D97; }
    @media  (min-width: 760px) {
      header .logo {
        width: 23.7288135593%;
        float: left;
        margin-right: 1.6949152542%; } }
    @media  (min-width: 0) and (max-width: 759px) {
      header .logo {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        text-align: center; } }
  header nav {
    font-family: 'Open Sans', sans-serif;
    color: #818D97; }
    @media  (min-width: 840px) {
      header nav {
        width: 49.1525423729%;
        float: left;
        margin-right: 1.6949152542%;
        float: right;
        margin-right: 0;
        margin-top: 30px; } }
    @media  (min-width: 760px) and (max-width: 839px) {
      header nav {
        width: 74.5762711864%;
        float: left;
        margin-right: 1.6949152542%;
        float: right;
        margin-right: 0;
        margin-top: 30px; } }
    @media  (min-width: 0px) and (max-width: 759px) {
      header nav {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px; } }
    header nav ul {
      float: right; }
      @media  (min-width: 0) and (max-width: 759px) {
        header nav ul {
          display: block;
          width: 100%;
          text-align: center; } }
    header nav a li {
      display: inline-block;
      text-align: right;
      margin-right: 30px; }
      header nav a li.cta {
        background-color: #4AC6B7;
        padding: 8px 15px;
        color: #FFF;
        border-radius: 3px;
        cursor: pointer; }
    header nav a:last-child li {
      margin-right: 0; }

.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.home .hero {
  height: 500px; }
  .home .hero h1, .home .hero h2 {
    font-size: 4em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.6em; }
  .home .hero h1 {
    margin-top: 120px; }
  .home .hero h2 {
    font-size: 2em;
    letter-spacing: 0.3em;
    margin-top: 30px; }
  .home .hero .sign-up {
    width: 175px;
    text-align: center;
    background: #4AC6B7;
    padding: 15px 30px;
    color: #FFF;
    font-size: 1.2em;
    border-radius: 3px;
    margin: auto;
    margin-top: 30px; }

.pieces .piece {
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 2px 3px #ccc;
  padding: 8px;
  position: relative; }
  @media  (min-width: 960px) {
    .pieces .piece {
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .pieces .piece:nth-child(3n) {
        float: right;
        margin-right: 0; } }
  @media  (min-width: 760px) and (max-width: 959px) {
    .pieces .piece {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; }
      .pieces .piece:nth-child(2n) {
        float: right;
        margin-right: 0; } }
  @media  (min-width: 0px) and (max-width: 759px) {
    .pieces .piece {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid #efefef; } }
  .pieces .piece .image {
    background-color: #efefef;
    background-size: cover;
    border-radius: 3px;
    width: 100%;
    height: 200px; }
  .pieces .piece span {
    text-align: center;
    margin-top: 15px;
    display: block;
    font-size: 12px; }
  .pieces .piece .likes {
    float: left;
    display: inline-block;
    position: absolute;
    left: 8px;
    font-style: italic; }
  .pieces .piece .like {
    width: 30px;
    height: 30px;
    float: right;
    display: inline-block;
    margin-top: -18px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer; }
    .pieces .piece .like:hover svg {
      fill: #ccc; }
    .pieces .piece .like.active svg {
      fill: #4AC6B7; }
    .pieces .piece .like svg {
      -webkit-transition: .2s;
      -moz-transition: .2s;
      transition: .2s;
      fill: #efefef; }

.submit-form, .signup-form, .login-form {
  width: 420px;
  margin: auto;
  margin-top: 120px;
  text-align: center; }
  .submit-form *:focus, .signup-form *:focus, .login-form *:focus {
    outline: none; }
    .submit-form *:focus::-webkit-input-placeholder, .signup-form *:focus::-webkit-input-placeholder, .login-form *:focus::-webkit-input-placeholder {
      color: #4AC6B7; }
    .submit-form *:focus:-moz-placeholder, .signup-form *:focus:-moz-placeholder, .login-form *:focus:-moz-placeholder {
      /* Firefox 18- */
      color: #4AC6B7; }
    .submit-form *:focus::-moz-placeholder, .signup-form *:focus::-moz-placeholder, .login-form *:focus::-moz-placeholder {
      /* Firefox 19+ */
      color: #4AC6B7; }
    .submit-form *:focus:-ms-input-placeholder, .signup-form *:focus:-ms-input-placeholder, .login-form *:focus:-ms-input-placeholder {
      color: #4AC6B7; }
  .submit-form h1, .signup-form h1, .login-form h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    letter-spacing: .3em;
    margin-bottom: 15px; }
  .submit-form input[type="email"], .signup-form input[type="email"], .login-form input[type="email"] {
    width: 402px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #818D97; }
    .submit-form input[type="email"]:focus, .signup-form input[type="email"]:focus, .login-form input[type="email"]:focus {
      border-color: #4AC6B7;
      color: #4AC6B7; }
  .submit-form input[type="text"], .submit-form input[type="password"], .signup-form input[type="text"], .signup-form input[type="password"], .login-form input[type="text"], .login-form input[type="password"] {
    width: 182px;
    padding: 8px;
    margin-bottom: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #818D97; }
    .submit-form input[type="text"]:nth-child(2), .submit-form input[type="password"]:nth-child(2), .signup-form input[type="text"]:nth-child(2), .signup-form input[type="password"]:nth-child(2), .login-form input[type="text"]:nth-child(2), .login-form input[type="password"]:nth-child(2) {
      margin-right: 0; }
    .submit-form input[type="text"]:focus, .submit-form input[type="password"]:focus, .signup-form input[type="text"]:focus, .signup-form input[type="password"]:focus, .login-form input[type="text"]:focus, .login-form input[type="password"]:focus {
      border-color: #4AC6B7;
      color: #4AC6B7; }
  .submit-form input[type="file"]::-webkit-file-upload-button, .signup-form input[type="file"]::-webkit-file-upload-button, .login-form input[type="file"]::-webkit-file-upload-button {
    background-color: #FFF;
    border: none;
    padding: 8px 15px;
    border: 1px solid #ccc;
    color: #818D97;
    border-radius: 3px;
    margin-right: 8px; }
  .submit-form *[type="submit"], .signup-form *[type="submit"], .login-form *[type="submit"] {
    background-color: #4AC6B7;
    border: none;
    padding: 8px 15px;
    margin-top: 15px;
    color: #FFF;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer; }
