.ng-enter{
	opacity:0;
	@include transition(0.2s ease-in-out 0.2s);
}

.ng-enter-active{
	opacity:1;
}

.ng-leave{
	opacity:1;
	@include transition(0.2s opacity ease-in-out);
}

.ng-leave-active{
	opacity:0;
}